.statistics {
  margin: 100px auto;
}

.title {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
}

.item {
  display: block;
  padding: 36px;
  list-style-type: none;
  font-size: 30px;
  color: #fff;
  background: #4dc5f7;
}

.item:nth-child(2) {
  background: #a43cf3;
}

.item:nth-child(3) {
  background: #e74c67;
}

.item:nth-child(4) {
  background: #20b8c5;
}

.statList {
  display: flex;
  justify-content: center;
  padding: 0;
}

.label,
.percentage {
  display: block;
}

.percentage {
  font-size: 35px;
  margin-top: 10px;
}
